# dependencies
node_modules/
.vscode/
# config/config.env
Free-Gency-Api.postman_collection.json
Free Gency - Prod.postman_environment.json/

firebase/fcmproject-ff347-firebase-adminsdk-fbsvc-e4f996f74e.json
